[defaults]
inventory = inventory.yml
collections_path = ../.ansible/collections
host_key_checking = False
gathering = explicit
result_format = yaml
callbacks_enabled = ansible.posix.profile_tasks
duplicate_dict_key = error
deprecation_warnings = False
retry_files_enabled = False
interpreter_python = auto_silent

[persistent_connection]
command_timeout = 120
connect_timeout = 120
